.display{
    -fx-background-color: #a19c8c;
    -fx-focus-traversable: false;
}

.stackView .list-cell{
    -fx-min-height: 46.6px;
    -fx-focus-traversable: false;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #a19c8c;
}
/* parte fissa della barra*/
.list-view .scroll-bar:vertical .track {
    -fx-background-color: #322f29;
}
.list-view .scroll-bar:vertical .increment-button .increment-arrow {
    -fx-background-color: #322f29;
}
.list-view .scroll-bar:vertical .decrement-button .decrement-arrow {
    -fx-background-color: #322f29;
}

#numView {
    -fx-background-color: #a19c8c;
    -fx-focus-traversable: false;
    -fx-font-family: System;
    -fx-font-size: 16px;
}
#numView .list-cell:odd{
    -fx-background-color: #a19c8c
}
#numView .list-cell:odd:filled {
    -fx-background-color: derive(#a19c8c, -10%);
}
#numView .list-cell:even {
    -fx-background-color: #a19c8c;
}

#varView {
    -fx-background-color: #a19c8c;
    -fx-focus-traversable: false;
    -fx-font-family: System;
    -fx-font-size: 20px;
}
#varView .list-cell:odd{
    -fx-background-color: #a19c8c
}
#varView .list-cell:even:filled {
    -fx-background-color: derive(#a19c8c, -10%);
}
#varView .list-cell:even {
    -fx-background-color: #a19c8c;
}
